
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni</h2>

<form>
    <div class="form-group">
        <label>Departman Adı</label>
        <input type="text"name="DepartmanAdi" class="form-control" />

    </div>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>